/* body {
  background-color: #800080;
} */

.mapboxgl-popup {
  max-width: 400px;
  min-width: 120px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  /* height: 50px; */
}

.gridLines {
  padding-bottom: 1px;
  width: 350px;
}
.break{
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  background-image: '#FFFFFF';
}

.legendScale {
  float: right;
  margin-left: 6px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  background-image: linear-gradient(to right, #FF0000 0%,  #800080 50%, #0000FF 100%);
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {
  flex: 1 100%;
}

h1 {
  position: absolute;
  height: 23%;
  /* background: linear-gradient(#0000FF, #FF0000); */
  background: linear-gradient(42deg, red 0%, #800080 36%, #800080 63%, blue 100%);
}
.toggle-container {
}

.lineOne {
  background-image: linear-gradient(80deg, #FFFFFF 0%, #FFFFFF 7%, #FF0000 33%, #FF0000 35%,  #FFFFFF 45%, #FFFFFF 63%, #0000FF 71%, #0000FF 73%, #FFFFFF 93%, #FFFFFF 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.lineTwo {
  /* background-image: linear-gradient(to right, #800080 0%,  #0000FF 54%, #FF0000 57%,  #800080 100%); */
  background-image: linear-gradient(80deg, #FFFFFF 0%, #FFFFFF 20%, #FF0000 21%, #FF0000 36%, #FFFFFF 37%, #FFFFFF 55%,  #0000FF 95%, #0000FF 96%, #FFFFFF 96%, #FFFFFF 100%);
  /* background-image: linear-gradient(80deg, #FFFFFF 0%, #FFFFFF 38%, #FF0000 40%, #FF0000 46%,  #FFFFFF 56%, #FFFFFF 73%, #0000FF 86%, #0000FF 100%); */

  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.lineThree {
  /* background-image: linear-gradient(to right, #800080 0%,  #0000FF 54%, #FF0000 57%,  #800080 100%); */
  background-image: linear-gradient(80deg, #FF0000 10%,  #FFFFFF 40%, #FFFFFF 60%,  #0000FF 90%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.headline {
  text-align: center;
  text-padding: 0.25em;
  font-size: 2.5em;
  padding: 0.5em;
  color: hsl(300, 78%, 18%);
  /* color: rgba(128, 0, 128, 1); */
  /* background-color: #f3ec78; */
  /* background-image: linear-gradient( #FF0000, #0000FF);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent; */
}

/* .leftGradient {
  background-image: linear-gradient(to right, #FF0000, #800080);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.rightGradient {
  background-image: linear-gradient(to right, #800080, #0000FF);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
} */


.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
