/* body {
  background-color: #800080;
} */


/* :root { */
  /* --mapVisibility: 'false'; */
  /* --mapCanvasHeight: 230px;
} */

html {
  height: 100%;
  /* --mapVisibility: 'false'; */

}
body {
  height: 100%;
}

/* canvas {
  height: 230px;
  width: 375px;
} */

.divZero {
  height: 100%;
}

.divOne {
  position: relative;
  height: 100%;
}

.divTwo {
  position: relative;
  height: 100%;
}

/* .mapboxgl-map {
  position: relative;
  height: var(--mapCanvasHeight, 230px) !important;

} */

.map-container {
  /* visibility: 'false'; */
  /* visibility: var(--mapVisibility); */
  position: relative;
  /* height: var(--mapCanvasHeight, 230px) !important; */

  /* height: 230px; */
  /* height: 100%; */
  /* width: 100%; */
  /* display: inline-block; */

  /* overflow: visible; */
  /* height: calc(100vh - 215px - var(--height) + 'px'); */
  /* width:66%; /*
  /* width: calc(var(--mapCanvasWidth) * 1px);
  /* calc(var(--mapContainerHeight) * 1px) */
}


.mapboxgl-canvas-container {
  position: relative;
  /* height: calc(var(--mapCanvasHeight, 230px) * 1px) !important; */
}

.mapboxgl-canvas {
  position: relative;
  /* height: 230px; */
  /* height: calc(var(--mapCanvasHeight, 230px) * 1px) !important; */
  /* width: 100%; */
  /* display: block; */
  /* height: inherit; */
}

.divThree {
  position: relative;
  bottom: 0px;
  width: 100%;
}

/* .setMapContainer {
  display: flex;
  flex-direction: column;
  flex-wrap:  wrap;
} */

/* .map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */


.mapboxgl-popup {
  max-width: 400px;
  min-width: 120px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  /* height: 50px; */
}

.headline {
  background: linear-gradient(42deg, red 0%, #800080 36%, #800080 63%, blue 100%);
  /* text-padding: 0.5em; */
  font-size: 2.5em;
  padding: 0.25em 0.5em 0.25em 0.5em ;
  color: hsl(300, 78%, 18%);
  display: inline-block;
  line-height: 0.8;
}

.lineOne {
  background-image: linear-gradient(42deg, #FFFFFF 0%, #FFFFFF 7%, #FF0000 32%,  #FFFFFF 47%, #FFFFFF 53%,  #0000FF 68%, #FFFFFF 93%, #FFFFFF 100%);
  /* background-size: 100%; */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.lineTwo {
  color: #800080;
  line-height: 1;
}

.lineThree {
  color: #800080;
  font: Georgia, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.blue-state {
  background-color: #0000FF;
  color: #FFFFFF;
}
.red-state {
  background-color: #FF0000;
  color: #FFFFFF;
}

.toggle-padding {
  padding: 5px;
}

.legendScale {
  float: right;
  margin-left: 6px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  background-image: linear-gradient(to right, #FF0000 0%,  #800080 50%, #0000FF 100%);
}

.gridLines {
  padding-bottom: 1px;
  width: 320px;
}
.break{
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  background-image: '#FFFFFF';
}
