html {
  height: 100%;

}
body {
  height: 100%;
}

.divZero {
  height: 100%;
}

.divOne {
  position: relative;
  height: 100%;
}

.divTwo {
  position: relative;
  height: 100%;
}

.map-container {
  position: relative;
}

.mapboxgl-canvas-container {
  position: relative;
}

.mapboxgl-canvas {
  position: relative;
}

.divThree {
  position: relative;
  bottom: 0px;
  width: 100%;
}


.mapboxgl-popup-close-button {
  position: absolute;
  bottom: 0;
  right: 0;
  top: auto;
  margin-right: 6px;
  margin-left: 6px;
}

.mapboxgl-popup {
  min-width: 64px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin-right: 1px;
  padding: 0px;
  border-width: 0px;
}

.headline {
  background: linear-gradient(42deg, red 0%, #800080 36%, #800080 63%, blue 100%);
  font-size: 2.5em;
  padding: 0.25em 0.5em 0.25em 0.5em ;
  color: hsl(300, 78%, 18%);
  display: inline-block;
  line-height: 0.8;
}

.lineOne {
  background-image: linear-gradient(42deg, #FFFFFF 0%, #FFFFFF 7%, #FF0000 32%,  #FFFFFF 47%, #FFFFFF 53%,  #0000FF 68%, #FFFFFF 93%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.lineTwo {
  color: #800080;
  /* background-image: linear-gradient( #FFFFFF 0%, #FFFFFF 7%, #800080 32%, #800080 68%, #FFFFFF 93%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent; */

  /* background-color: #800080;
  color: #FFFFFF; */

  line-height: 1;
}

.lineThree {
  /* background-color: #800080;
  color: #FFFFFF; */
  color: #800080;
  line-height: 1;

}

.blue-state {
  background-color: #0000FF;
  color: #FFFFFF;
}
.red-state {
  background-color: #FF0000;
  color: #FFFFFF;
}

.toggle-padding {
  padding: 5px;
}

.legendScale {
  float: right;
  margin-left: 6px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  background-image: linear-gradient(to right, #FF0000 0%,  #800080 50%, #0000FF 100%);
}

.gridLines {
  padding-bottom: 1px;
  width: 320px;
}
.break{
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  background-image: '#FFFFFF';
}
